<div id="container-exp">
	<div id="trial">
		<h1>What is the server's goal?</h1>
        <p>Press Space To Continue</p>
<!--
		<p>Left Arrow = Server is approaching your table <br>
           Right Arrow = Server is approaching a different table
        </p>
-->
		<div id="video">
            <video id = "vid" width="620" height="540" autoplay></video>
        </div>
        
        <div>
            
            <div class="row">
            <div class="col-sm-2">
                <p>My Table</p>
                <p id="sliderValueMyTable"></p>
            </div>
            <div class="col-sm-8"><input type="range" min="0" max="100" value="50" steps="10" class="slider" id="confSlider"/></div>
            <div class="col-sm-2">
                <p>Other Table</p>
                <p id="sliderValueOtherTable"></p>
            </div>
            </div>
            
            
        </div>
        
	</div>
</div>




<!-- Old Confidence Score Collection
<style>
.class1 {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
</style>

<div id="container-question" class="class1">
	<p>Please answer the following question before continuing</p>

    <div class="instructions well">

        <form id="confExpQuestions" action="debrief" method="post">

            <div class="row question">
                <div class="col-md-8">
                    On a scale of 1-10, please rate how confident you are about your prediction (10 is the most confident):
                </div>
                <div class="col-md-4">
                    <select id="confidence" name="confidence">
                        <option value="10">10 - Extremely Confident</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5">5 - Moderately</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1 - Not Confident</option>
                        <option value="0" SELECTED></option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question
            <div class="row question">
                <div class="col-md-8">
                    On a scale of 1-10, please rate how well the server's motion matched your expectations (where 10 is the most similar):
                </div>
                <div class="col-md-4">
                    <select id="expectation" name="expectation">
                        <option value="11" SELECTED></option>
                        <option value="10">10 - Matched Perfectly</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5">5 - Moderately </option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                        <option value="0">0 - Did not match at all</option>
                    </select>
                </div>
            </div>
    

        </form>
    </div>

    <hr />

    <div id="temp">
    </div>
    <div>
        <button id="cont">Continue</button>
    </div>
</div>

end of a question -->

<div id="container-bot-check" class = "class1">
	<div id="bot-question">
		<h1>Please type in a letter (A-Z) and a digit (0-9)</h1>
		<p>Example: B5
        </p>
        <p><input type="text" id="botcheck"> </p>
        <br>
        <div>
        <button id="botcontinue">Continue</button>
        </div>
	</div>
</div>

<style>
.class1 {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
</style>

