<div id="container-instructions">

	<h1>Tutorial</h1>

	<hr />

	<div class="instructions well">

	    <p>
            Next, you will learn about the mechanics of the slider you will use to report your confidence during the study. 
        </p>
        <p>
            While the practice task is different from the one you will be performing during the study, the slider and its mechanics will remain the same.
        </p>
        

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
