<div id="container-instructions">

	<h1>Tutorial</h1>

	<hr />

	<div class="instructions well">

	    <p>
           Below is an image of the restaraunt's table layout from above.
        </p>
        <p>The server will always start at location *blue diamond*. Its goal could be any of *other location indicators* next to the six round tables.</p>
        <p>You will be "sitting" in one of the three chairs at table *E*, so you may not be able to see the entirety of the restaraunt.</p>  
        <p>Remember, your task is to determine whether the server is approaching your table or a different table.</p>
        <img src="../../static/images/layout.png" width = 500 height = 500 alt="Table Layout">

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
