<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">
        <h2 id = "condition">
            
        </h2>
	    <p>
            A video clip of a robot server in a restaraunt will play. 
        </p>
        <p>
            Your task is to watch the video carefully and report how confident you are that the robot is approaching your table or a different table. 
        </p>
        <p>
            You will be presented with a slider to report your confidence level. The video will begin playing when you click on the slider and will pause when you let go of the slider. 
        </p>
        <p>
           Once the video has finished playing, the trial will automatically end and you will be prompted to press a button to continue to the next trial. 
        </p>
        <p>
            You will start with a tutorial that will familiarize you with the layout of the restaurant and the mechanics of the slider that you will use to report your confidence level. Press 'Next' to begin this tutorial.
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>

<script>
var mycondition = condition;
d3.select("#condition").html("You are in condition " + mycondition + ". Please note this value. After you finish the experiment once, please do it again in the other condition. If you get the same condition, just quit and try again. Thank you ")
</script>
