<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

	    <p>
            A video clip of a robot server in a restaraunt will play. 
        </p>
        <p>
            Your task is to watch the video carefully and report how confident you are that the robot is approaching your table or a different table. 
        </p>
        <p>
            You will be presented with a slider to report you confidence level. The video will begin playing when you click on the slider and will pause when you let go of the slider. 
        </p>
        <p>
           ***CHANGE DEPENDING ON HOW THE TRIALS END*** Once the video has finished playing, press the space bar to move on to the next trial.
        </p>
        <p>
            You will be given the opportunity to practice first. Press next when you are ready to begin your practice.
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
