<div id="container-instructions">

	<h1>Tutorial</h1>

	<hr />

	<div class="instructions well">

	    <p>
           Below is an image of the restaraunt's table layout from above.
        </p>
        <p>The server will always start at the location marked by the red square. The server will be heading to one of the four tables and will stop at one of the four green squares.</p>
        <p>You will be "sitting" in one of the two chairs at the table labeled 'A'. Because of this, not all the other tables will be visible to you.</p>  
        <p>Remember, your task is to determine whether the server is approaching your table or a different table.</p>
        <p class="aligncenter">
            <img src="../../static/images/layout.png" width = 350 height = 500 alt="Table Layout">
        </p>
        

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
